/* Signup Form Styles */
.signup-form {
  width: 90%;
  min-height: 100vh;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 28px;
  color: #333;
  margin-bottom: 30px;

}

/* Category Selection */
.category-selection {
  margin-bottom: 20px;
}

.category-selection label {
  text-align: center;
  font-size: 18px;
  color: #333;
  margin-bottom: 8px;
}

.category-selection .account,
.category-selection select {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* General Form Styles */
.form-group {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-terms {
  display: flex;
  align-items: center;
  gap: 10px;
}

.grid-terms input[type="checkbox"] {
  width: auto;
  margin: 0;
}

.input-wrapper {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #555;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

textarea {
  resize: vertical;
}

input[type="file"] {
  padding: 5px;
}

/* Terms & Conditions */
.terms {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

.error,
.success {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  color: #fff;
}

.error {
  background-color: #dc3545;
  margin-bottom: 2rem;
}

.success {
  background-color: #28a745;
  margin-bottom: 2rem;
}

/* Submit Button */
.form-actions {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}


.signup {
  width: 31%;
  margin-left: 35%;
  padding: 15px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Media Queries for Smaller Devices */
@media screen and (max-width: 768px) {
  .signup-form {
    margin: 50px auto;
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }

  .category-selection .account,
  .category-selection select {
    font-size: 14px;
    padding: 10px;
  }

  button[type="submit"] {
    padding: 12px;
    font-size: 14px;
  }
}