.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0rem;
    margin: 3px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card .info h3 {
    font-size: 1.2rem;
    color: #7ee469;
    margin-bottom: 0.5rem;
}

.card .message img {
   width: 100%;
   height: 100%;
}